/*
	general styles
*/
h1 {
	margin: 0;
}

a {
	color: #3c3 !important;
	text-decoration: none;
	cursor: pointer;
}

/*
	Text-Input
*/
input[type="text"], input[type="username"], input[type="password"], input[role="textbox"] {
	display: block !important;
	max-width: 100% !important;
	padding: 0.5rem !important;
	background: white;
	box-shadow: none !important;
	font-family: "Roboto" !important;
	font-weight: 300 !important;
	font-size: 0.9rem !important;
	color: #333 !important;
	border: 1px solid #ccc !important;
	border-radius: 0.25rem !important;
}

textarea {
	background: #fefefe !important;
	box-shadow: none !important;
	border: 1px solid #ccc !important;
	border-radius: 0.25rem !important;
}

/*
	Buttons
*/

input[type="submit"], button {
	width: auto !important;
	padding: 0.5rem;
	margin: 0 !important;
	font-family: "Sniglet" !important;
	font-weight: 300 !important;
	background: transparent !important;
	border: 1px solid white !important;
	border-radius: 0.25rem !important;
	color: white;
	font-size: 1rem;
	box-shadow: none !important;
	text-shadow: none !important;
	transition: background 0.2s, color 0.2s !important;
}

.ui-button-text {
	padding: 0 !important;
}

button.ui-button-icon-only {
	width: 1rem !important;
	padding: 0.5rem 1rem !important;
}

button.ui-button-icon-only .ui-icon {
	margin: -8px !important;
}

button.ui-button-text-icon-left {
	padding: 0.5rem 0.5rem 0.5rem 2rem !important;
}

button[type="button"]:not(.ui-datepicker-trigger):hover, button[type="iconfix"]:hover {
	background: white !important;
	cursor: pointer !important;
	color: #333 !important;
	transition: background 0.2s, color 0.2s !important;
}

input[type="submit"].btn-green, button[id$=":submit"] {
	color: white !important;
	background: #0c9 !important;
	border: 1px solid #0c9 !important;
}

input[type="submit"].btn-green:hover, input[type="submit"].btn-green:focus, button[id$=":submit"]:hover, button[id$=":submit"]:focus {
	color: white !important;
	background: #0c9 !important;
}

input[type="submit"].btn-red, .btn-red, button.delete {
	background: #ff5c33 !important;
	border: 1px solid #ff5c33 !important;
	box-shadow: none !important;
}

.btn-red:hover, .btn-red:focus {
	box-shadow: none !important;
}

/*
	select styles
*/

select {
	width: 100%;
	-webkit-appearance: none; 
	-moz-appearance: none;
	appearance: none;
	padding: 0.5rem 2rem 0.5rem 0.5rem;
	font-family: "Roboto" !important;
	font-size: 0.9rem !important;
	font-weight: 300 !important;
	background-image: url(/resources/images/arrow-down.svg);
	background-repeat: no-repeat;
	border: 1px solid #ccc;
	border-radius: 0.25rem !important;
	background-position: calc(100% - 0.75rem) 0.8rem;
	background-color: #fefefe;
	color: #333 !important;
}

.ui-icon-triangle-1-s {
	margin: 4px -8px !important;
}

.ui-selectonemenu-trigger {
	border: none !important;
	box-shadow: none !important;
}

/*
	general styles for general content
*/
#content {
	grid-area: content;
	background: red;
	min-height: calc(100vh - 80px) !important;
	background-image: url(/resources/images/menu-bg.jpg);
	background-size: 100% auto;
	background-position: center 0;
	background-repeat: no-repeat;
	background-color: #7e6b6a;
}

#content > form {
	padding: 1rem;
}

#content > form > .ui-panel:not(:last-of-type) {
	margin-bottom: 1rem;
}

.ui-panel {
	padding: 1rem !important;
	font-family: "Sniglet" !important;
	font-weight: 300;
	background-color: rgba(255, 255, 255, 0.5) !important;
}

.ui-panel-titlebar {
	padding: 0 0 0.5rem 0 !important;
	background: transparent !important;
	border: none !important;
	font-weight: 500;
}

.ui-panel-titlebar > span {
	margin: 0 !important;
}

.ui-panel-content {
	padding: 0 !important;
}

/*
	radio-button
*/
.ui-selectoneradio td {
	padding: 0 0.5rem 0 0 !important;
	line-height: 0.8rem !important;
}

.ui-selectoneradio label {
	margin: 0 !important;
	vertical-align: top;
}

.ui-selectoneradio .ui-helper-hidden-accessible {
	display: none !important;
}

.ui-radiobutton {
	margin: 0 !important;
}

.ui-radiobutton input {
	margin: 0 !important;
}

.ui-radiobutton-box {
	position: relative;
	top: 0 !important;
	background: transparent !important;
	box-shadow: none !important;
	border: 1px solid #0c9 !important;
}

.ui-icon-bullet {
	position: absolute;
	top: 3px;
	left: 2px;
	width: 0.5rem !important;
	height: 0.5rem !important;
	background: #0c9 !important;
}

/*
	datepicker fixes
*/
.ui-datepicker {
	width: 16.75rem !important;
	padding: 0 !important;
	border: 1px solid #ccc !important;
	border-radius: 0.25rem !important;
	box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.25) !important;
	border-radius: 0.25rem !important;
	overflow: hidden !important;
}

.ui-datepicker-prev, .ui-datepicker-next {
	box-shadow: none !important;
}

.ui-datepicker-prev {
	top: 8px !important;
	left: 0 !important;
}

.ui-datepicker-next {
	top: 8px !important;
	right: 12px !important;
}

.ui-datepicker-header {
	background: #0c9 !important;
	border: none !important;
}

.ui-datepicker-header .ui-datepicker-prev {
	top: 0.4rem !important;
	left: 0.25rem !important;
	border-radius: 0.25rem;
}

.ui-datepicker-header .ui-datepicker-prev:hover {
	background-color: rgba(255, 255, 255, 0.20);
}

.ui-datepicker-header .ui-datepicker-prev span {
	top: 57% !important;
	left: 57% !important;
	background-image: url(/resources/images/arrow-left.svg);
	background-position: 0 0 !important;
	background-size: 12px 12px;
}

.ui-datepicker-header .ui-datepicker-next {
	top: 0.4rem !important;
	left: 14.25rem !important;
	border-radius: 0.25rem;
}

.ui-datepicker-header .ui-datepicker-next:hover {
	background-color: rgba(255, 255, 255, 0.20);
}

.ui-datepicker-header .ui-datepicker-next span {
	top: 57% !important;
	left: 57% !important;
	background-image: url(/resources/images/arrow-right.svg);
	background-position: 0 0 !important;
	background-size: 12px 12px;
}

.ui-datepicker-title select {
	width: auto !important;
}

.ui-datepicker-header select:first-of-type {
	margin-right: 1rem !important;
}

.ui-datepicker .ui-state-default {
	text-align: center !important;
	text-shadow: none !important;
	color: #666 !important;
	font-family: "Roboto" !important;
	font-weight: 300 !important;
	font-size: 0.9rem !important;
}

.ui-datepicker .ui-state-active {
	background: #0c9 !important;
	text-shadow: none !important;
	color: #666 !important;
	border-radius: 0.25rem;
	text-align: center !important;
}

.ui-datepicker .ui-state-highlight {
	font-weight: 700 !important;
}

.ui-datepicker-trigger {
	padding: 0.25rem !important;
	background-color: #0c9 !important;
	background-image: url(/resources/images/calendar.svg) !important;
	background-position: center center !important;
	background-repeat: no-repeat !important;
}

.ui-datepicker-trigger:hover, .ui-datepicker-trigger:focus, .ui-datepicker-trigger.ui-state-hover {
	background-color: #0c9 !important;
	background-image: url(/resources/images/calendar.svg) !important;
	background-position: center center !important;
	background-repeat: no-repeat !important;
	filter: brightness(1.10);
}

.ui-datepicker-trigger .ui-icon {
	display: none !important;
}

.ui-datepicker-calendar {
	margin-bottom: 0 !important;
}

.ui-datepicker-calendar a:hover:not(.ui-state-hover) {
	background: #eee !important;
	vertical-align: middle !important;
	border-radius: 0.25rem;
}

/*
	Picklist fixes
*/
.ui-picklist {

}

.ui-picklist .ui-picklist-list-wrapper {
}

.ui-picklist > .ui-picklist-list-wrapper > .ui-widget-header {
	border-top: 1px solid #ccc !important;
	border-left: 1px solid #ccc !important;
	border-right: 1px solid #ccc !important;
	border-radius: 0.25rem 0.25rem 0 0 !important;
	overflow: hidden !important;
}

.ui-picklist > .ui-picklist-list-wrapper > .ui-widget-content {
	border-bottom: 1px solid #ccc !important;
	border-left: 1px solid #ccc !important;
	border-right: 1px solid #ccc !important;
	border-radius: 0 0 0.25rem 0.25rem !important;
	overflow: hidden !important;
}
/*
.ui-picklist .ui-picklist-buttons-cell .ui-button {
	background: #0c9 !important;
	border: 1px solid #0c9 !important;
	border-radius: 0.5rem !important;
}

.ui-picklist .ui-picklist-buttons-cell .ui-button:not(:last-of-type) {
	margin-bottom: 0.5rem !important;
}

.ui-picklist .ui-picklist-buttons-cell .ui-button:hover, .ui-picklist .ui-picklist-buttons-cell .ui-button:focus {
	background: #0c9 !important;
}

.ui-picklist .ui-picklist-buttons-cell span:first-of-type {
	margin: -0.5rem !important;
}
*/

.ui-picklist .ui-picklist-caption {
	padding: 0.25rem !important;
	background: #0c9 !important;
	text-shadow: none !important;
	color: white !important;
	font-family: "Roboto" !important;
	font-weight: 300 !important;
	font-size: 1rem !important;
	border: none !important;
	border-radius: 0 !important;
}

.ui-picklist .ui-picklist-list {
	border: none !important;
	border-radius: 0 !important;
}

.ui-picklist .ui-picklist-item {
	padding: 0.5rem !important;
	margin: 0 !important;
	border: none !important;
	border-radius: 0 !important;
	box-shadow: none !important;
}

.ui-picklist .ui-picklist-item.ui-state-hover, .ui-picklist .ui-picklist-item.ui-state-highlight, .ui-picklist .ui-picklist-item.ui-state-hover:hover, .ui-picklist .ui-picklist-item.ui-state-hover:focus {
	background: #eee !important;
	text-shadow: none !important;
	color: #333 !important;
}

.ui-picklist .ui-picklist-buttons-cell .ui-button {
	border: 1px solid #0c9 !important;
	transition: background 0.1s;
}

.ui-picklist .ui-picklist-buttons-cell .ui-button:not(:last-of-type) {
	margin-bottom: 1rem !important;
}

.ui-picklist .ui-picklist-buttons-cell .ui-button:hover {
	background: #0c9 !important;
	transition: background 0.1s;
}

.ui-picklist .ui-picklist-button-add span {
	background-image: url(/resources/images/angle-right.svg) !important;
	background-position: 0 0 !important;
}

.ui-picklist .ui-picklist-button-add-all span {
	background-image: url(/resources/images/angle-double-right.svg) !important;
	background-position: 0 0 !important;
}

.ui-picklist .ui-picklist-button-remove span {
	background-image: url(/resources/images/angle-left.svg) !important;
	background-position: 0 0 !important;
}

.ui-picklist .ui-picklist-button-remove-all span {
	background-image: url(/resources/images/angle-double-left.svg) !important;
	background-position: 0 0 !important;
}

/*
	fix checkbox
*/

.ui-chkbox {
	vertical-align: middle !important;
	margin-right: 0.5rem !important;
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

.ui-chkbox .ui-chkbox-box {
	background: white !important;
	box-shadow: none !important;
	border: 1px solid #ccc;
	border-radius: 0.25rem !important
}

.ui-chkbox .ui-chkbox-box.ui-state-active {
	background: #0c9 !important;
	border: 1px solid #0c9;
}

.ui-chkbox .ui-chkbox-box .ui-chkbox-icon {
	display: none;
}

.ui-selectmanycheckbox td {
	padding: 0 !important;
}

.ui-selectmanycheckbox td:nth-of-type(even):not(:last-of-type) {
	padding-right: 1rem !important;
}

/*
	fix selectionmanymenu
*/
.ui-selectmanymenu {
	border: 1px solid #ccc !important;
	box-shadow: none !important;
	color: #333 !important;
}

.ui-selectmanymenu .ui-selectlistbox-item {
	padding: 0.25rem !important;
	margin: 0 !important;
	box-shadow: none !important;
	font-family: "Roboto" !important;
	font-weight: 300 !important;
	font-size: 1rem !important;
}

.ui-selectmanymenu .ui-selectlistbox-item.ui-state-highlight {
	background: transparent !important;
	text-shadow: none !important;
	color: #333 !important;
}

.ui-selectmanymenu .ui-selectlistbox-item:hover {
	background: #eee !important;
}

/*
	fix fileupload
*/
.ui-fileupload {
	border: 1px solid #ccc !important;
	border-radius: 0.25rem !important;
}

.ui-fileupload .ui-fileupload-buttonbar {
	padding: 0.5rem !important;
	border: none !important;
	background: #0c9 !important;
}

.ui-fileupload .ui-fileupload-buttonbar .ui-fileupload-choose, .ui-fileupload .ui-fileupload-buttonbar button {
	margin: 0 !important;
	padding: 0.5rem 0.5rem 0.5rem 2rem !important;
	font-family: "Roboto" !important;
	font-weight: 300 !important;
	font-size: 0.9rem !important;
	box-shadow: none !important;
	background: #eee !important;
}

.ui-fileupload .ui-fileupload-buttonbar .ui-fileupload-choose, .ui-fileupload .ui-fileupload-buttonbar button:not(:last-of-type) {
	margin-right: 1rem !important;
}

.ui-fileupload .ui-fileupload-buttonbar .ui-fileupload-choose .ui-icon-plusthick {
	background-image: url(/resources/images/plus.svg) !important;
	background-position: 0 0 !important;
}

.ui-fileupload .ui-fileupload-content {
	padding: 0.5rem !important;
	border: none !important;
	box-shadow: inset 0 0.25rem 0.5rem -0.25rem rgba(0, 0, 0, 0.3);
}

.ui-fileupload .ui-fileupload-files {
	margin: 0 !important;
}

.ui-fileupload .ui-fileupload-content .ui-fileupload-cancel {
	padding: 0.5rem 1rem !important;
	background: #0c9 !important;
}

.ui-fileupload .ui-fileupload-content .ui-fileupload-cancel .ui-button-icon-left {
	display: inline-block !important;
	margin: -8px -8px !important;
}

/* fix slider */
.ui-slider {
	background: #eee !important;
	box-shadow: none !important;
	border-radius: 0.25rem !important
}

.ui-slider .ui-slider-handle {
	margin-top: 2px !important;
	box-shadow: none !important;
	background: #0c9 !important;
	border-radius: 100% !important;
}

/* fix very ugly primefaces-select-one-menus */
.ui-selectonemenu {
	width: 100% !important;
	box-shadow: none !important;
	background: white !important;
	border: 1px solid #ccc !important;
}

.ui-selectonemenu:hover {
	
}

.ui-selectonemenu .ui-selectonemenu-trigger {
	display: inline-block !important;
	padding: 0.25rem 1rem !important;
	background: transparent !important;
}

.ui-selectonemenu .ui-selectonemenu-trigger span {
	margin: 0 0 0 -6px !important;
	padding-right: 0.25rem !important;
}

.ui-selectonemenu .ui-selectonemenu-label {
	background: transparent !important;
	box-shadow: none !important;
	font-family: "Roboto" !important;
	font-weight: 300 !important;
	font-size: 0.9rem !important;
}

.ui-selectonemenu-panel {
}

.ui-selectonemenu-panel .ui-selectonemenu-items {
	padding: 0 !important;
}

.ui-selectonemenu-panel .ui-selectonemenu-item {
	margin: 0 !important;
	padding: 0.25rem !important;
	box-shadow: none !important;
	font-family: "Roboto" !important;
	font-weight: 300 !important;
	font-size: 0.9rem !important;
	border-radius: 0 !important;
}

.ui-selectonemenu-panel .ui-selectonemenu-item:hover, .ui-selectonemenu-panel .ui-selectonemenu-item.ui-state-highlight {
	background: #eee !important;
	color: #333 !important;
	text-shadow: none !important;
}

.ui-selectonemenu-panel .ui-icon {
	display: none;
}

/* fix notification */
.ui-growl > div {
	box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.5) !important;
	border: 1px solid #eee;
	background: white !important;
	opacity: 1.0 !important;
}

.ui-growl .ui-growl-icon-close {
	display: none !important;
}

.ui-growl .ui-growl-message {
	padding: 0;
	text-shadow: none !important;
	color: #333 !important;
}

.ui-growl .ui-growl-title {
	font-family: "Sniglet";
	font-weight: normal;
}

.ui-growl .ui-growl-message p {
	font-family: "Roboto";
	font-size: 0.9rem;
	font-weight: 300;
}

